form{
    grid-column: 2;    
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    margin-top: .5em;
}
 
.topic{
    grid-column: 1/4;
    grid-row:1;
    font-size: 1.7em;
    text-decoration: none;
    border-bottom: 1px solid;
    height: max-content;
    margin: 0;
}

main img {
    height: 17em;
    /* margin: 0 2em; */
}

li {
    margin-bottom: .5em;
}

li::marker{
    content: "";
    margin: 0;
}

input[type=number]{
    text-align: right;
    padding-right: 1em !important;
}

ul > .row {
    gap: 2em;
}

.img{
    display: flex;
    flex-direction: column;
    gap: .3em;
    align-items: center;
}

img[src=""], img:not([src]){
    border: 2px solid black;
    width: 11em;
}

.img > .btn{width: max-content;}